/* Define application colors here */

$light: white;
$dark: black;

// Colors
$colors: (
	'pink': #ff1e65,
	'red': #ad0a1a,
	'orange': #ff850b,
	'yellow': #ffc61e,
	'green': #97ff7a,
	'teal': #02c6f2,
	'blue': #7096ff,
	'indigo': #0d0b3b,
	'violet': #45149b,
	'purple': #c19eff,
);
