/* Extends and mixins go here */

/* Create extendable styles for a flex-styled list, horizontal by default. */
%flex-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -0.5rem;
  padding: 0;

  li {
    display: unset;
    flex: 1 1 auto;
    margin: 0.5rem;
    padding: 0 2vmin;
    text-align: center;

    &.print-only {
      display: none;
    }
  }
}

/* Create extendable styles for a small border above an element. */
%border-above {
  margin-top: calc(1rem + 3vmin);

  &:before {
    border-top: 1px solid $light;
    content: "";
    display: block;
    margin: 0 auto calc(1rem + 3vmin);
    width: 2rem;
  }
}

/* Helper function for colors list */
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

/* Helper function to test the darkness of a background color */
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark; // Lighter backgorund, return dark color
  } @else {
    @return $light; // Darker background, return light color
  }
}

/* Clean up box-shadows */
@mixin inset-box-shadow($color: #000000) {
  box-shadow: inset 0 0 15px 0 rgba(darken($color, 10%), 0.5);
}
