/* Define variables here */

$default_font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$base_font: "Raleway", sans-serif;
$fancy_font: "Raleway Dots", sans-serif;
