/* Styles specific to the about section */

.mission,
.background {
	@extend %narrow-section;
}

.passions {
	background-color: rgba($dark, 0.05);
	margin: 5% -5.55%;
	padding: 5%;
}

.things-I-love {
	@extend %flex-list;
	@include wide-section;

	li {
		background-color: rgba($dark, 0.05);
		border-radius: 1rem;
		padding: 2rem 1.5rem;
	}
}

