@use '../modules' as *;

/* General/simple classes */

.large {
	font-size: 165%;

	&.symbol {
		color: color('pink');
		font-family: $default_font;
		line-height: 0;
		vertical-align: sub;
	}
}

.print-only {
	display: none;
}
