/* Styles for the app header */

.app-footer {
	@media screen {
		@include box-shadow-border(color('teal'));
		background-color: color('indigo');
		color: $light;
		padding: 6vmin;
	}

	h2 {
		@include dotted-border($light, horizontal, after);
		font-size: 130%;
		margin: 0;
	}

	a {
		color: $light;
		display: block;
		padding: 0.2rem 0;

		&:focus {
			outline-color: $light;
		}
	}

	@media (min-width: 600px) {
		align-items: center;
		display: flex;
		justify-content: center;

		h2 {
			@include dotted-border($light, vertical, after);
			font-family: $fancy_font;
			font-size: 340%;
			font-weight: 400;
			opacity: 0.8;
			text-transform: none;
		}
	}
}

.contact-me {
	@extend %flex-list;

	@media screen {
		flex-direction: column;
	}

	@media (min-width: 600px) {
		align-items: start;
	}

	li {
		flex: 0 1 auto;
	}
}
