/* Styles for the app header */

.app-header {
  align-items: center;
  background-color: color(pink);
  color: $light;
  display: flex;
  flex-direction: column;
  font-size: 120%;
  justify-content: center;
  min-height: 100vh;
  text-align: center;

  h1 {
    font-size: 23vmin;
    font-weight: 200;
    line-height: 0.85;
    margin: auto 0 0.5rem;

    @media (min-width: 320px) {
      font-family: $fancy_font;
      font-weight: 400;
    }
    + p {
      margin-bottom: 0;
      @extend %border-above;

      @media (min-width: 768px) {
        &:before {
          border-top: 0.45vmin dotted $light;
        }
      }
    }
  }

  a {
    color: $light;
  }
}

.contact-me {
  @extend %flex-list;
  flex-direction: column;
  margin-bottom: auto;
  @extend %border-above;

  @media (min-width: 768px) {
    flex-direction: row;
    font-size: 80%;
    margin-top: 0;

    &:before {
      border: 0 none;
    }
  }

  li {
    margin: 0 0 0.5rem;

    @media (min-width: 768px) {
      margin: 0.5rem 0 0;

      &:after {
        content: "\2022";
        font-size: 110%;
        margin: 0 -1rem 0 1rem;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

.app-main-nav {
  ul {
    @extend %flex-list;

    li {
      align-items: center;
      display: flex;
      margin: 0;

      &:after {
        content: "|";
        font-size: 50%;
        margin: 0 0 0 4vmin;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}
