/* Styles for the app header */

.app-header {
  align-items: center;
  background-color: color(pink);
  color: $light;
  display: flex;
  flex-direction: column;
  font-size: 120%;
  justify-content: center;
  min-height: 100vh;
  padding: 0 5%;
  text-align: center;

  h1 {
    font-size: 23vmin;
    font-weight: 200;
    line-height: 0.85;
    margin: auto 0 0.5rem;

    @media (min-width: 320px) {
      font-family: $fancy_font;
      font-weight: 400;
    }
    + p {
      @include border-above($light);
    }
  }

  p {
    @extend %narrow-section;
    max-width: 800px;

    &:last-of-type {
      margin-bottom: auto;
    }
  }

  a {
    color: $light;
    padding: 0.2rem 0.4rem;

    &:focus {
      outline-color: $light;
    }
  }
}

.app-main-nav {
  ul {
    @extend %flex-list;
    justify-content: center;
    max-width: 300px;

    @media (min-width: 550px) {
      max-width: unset;
    }

    li {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      margin: 0;
      padding: 0;

      &:after {
        content: "|";
        font-size: 50%;
        margin: 0 3vmin;
      }

      &:nth-child(2):after,
      &:last-child:after {
        display: none;
      }

      @media (min-width: 550px) {
        &:nth-child(2):after {
          display: block;
        }
      }
    }
  }
}
