/* Styles specific to the work section */
.work {
  background-color: lighten(color(orange), 30%);

  h2,
  h3,
  p {
    @extend %narrow-section;
  }

  a {
    color: color(red);

    &:hover,
    &:focus {
      color: color(violet);
    }
  }
}
